.super-mario{
    width: 100px;
    position: absolute;
}
.goomba{
    width: 50px;
    position: absolute;
    top: 250px;
}
.bowser{
    width: 200px;
    position:absolute;
    left: 500px;
    top: 40px;
    z-index: 1;
}
.baloon{
    width: 80px;
    position: absolute;
    left: 450px;
    z-index: 2;
}
.word{
    position:absolute;
    top: 85px;
    left: 468px;
    z-index: 3;
    margin: 0%;
    text-align: center;
    width: 10px;
    font-size: 10px;
}